@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    background: black;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.smaller {
    font-size: 0.7em;
}

.date-row .time {
    font-size: 2em;
    font-weight: bold;
}

.main-container {
    height: calc(100vmin - 2rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 1fr 8rem;
    grid-gap: 2em;
}

.date-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
}

.train {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);

}

.train .train-vasby {
    min-height: 250px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;    
}

h3.train-direction-header {
    align-self: flex-end;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.train-seg {
    flex-direction: column;
}

.row, .row>* {
    display: flex;
    flex-wrap: nowrap;
}

.row {
    width: 100%;
    flex-wrap: nowrap;
}

.seg-4 {
    width: 25%;
}

.seg-3 {
    width: 30%;
}

.seg-2 {
    width: 50%;
}

.row .train .train-from-header {
    margin-bottom: 0.4em;
}
.row h1, .row h2, .row h3 {
    margin: 0;
}

.train .train-vasby .train-seg {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6rem 1.5rem 4rem 1.5rem;
    align-items: end;
    justify-items: center;
    margin: 0 1rem;
}

.train-data {
    font-size: 2rem;
    text-align: center;
}

.canceled .train-data, .canceled .train-label {
    text-decoration: line-through;
}

.train-label {
    text-transform: uppercase;
    
}
.currentError {
    display: none;
}

.train-vasby .row {
    flex-direction: column;
}

.button {
    display: inline-block;
    padding: 0.5em 0.75em;
    background: orange;
    font-weight: bold;
    border-radius: 5px;
    color:rgb(250, 241, 224);
    user-select: none;
}

.train-error-no-error {
    display: none;
}

.train-error-output {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;;
    margin-bottom: 1.75em;
}

.train-error-output li {
    list-style: none;
    margin: 0.25em;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 0.5px;
} 

.train-container {
    display: grid;
    grid-template-rows: max-content 4rem;
}

.delay {
    text-decoration:line-through;
    opacity: 0.6;
    font-size: 75%;
    margin-bottom: 0.25em;
    display: inline-block;
}

.train-time-unit {
    font-size: 75%;
}

.trainDepNew {
    display: none;
    position: relative;
}
.trainDepNew:before {
    position: absolute;
    top: -5px;
    left: -5px;
    height: 100%;
    width: 100%;
    content: '';
    animation: notice-me;
    animation-duration: 5000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    border-radius: 0.25em;
    padding: 5px;
    background: white;
    mix-blend-mode: difference;

}

@keyframes notice-me {
    
    30% {
        background: black;
    }
    
    80% {
        background:white;
    }
}

.weather-row {
    display: flex;
}

.weather-col {
    display: grid;
    justify-content: center;
    grid-template-rows: 2fr 1fr 1fr 1fr 2.5rem;
    height: 100%;
}

.weather-col {
    font-size: 1.25rem;
}

.weather-col .weather-label {
    font-size: 1.25em;
}

.weather-icon-img {
    height: 100%;
}

.weather-col > div {
    text-align: center;
}

.joke-row {
    font-size: 1.25rem;
    margin-left: 1em;
    align-self: flex-end;
}

@media screen and (max-width: 900px) {
    .main-container {
        gap: 0;
    }
    .date-row {
        width: 100%;
    }
    .date-row .date,
    .date-row .week {
        font-size: 0.75em;
    }
    .date-row .time {
        font-size: 1.75em;
    }
    .trainTime {
        font-size: 1.75rem;
    }

    .train-label-south {
        grid-column: 1/3;
    }

    .train-label {
        text-align: center;
    }

    .weather-row {
        max-width: 90vw;
    }

    .weather-row div {
        font-size: 1em;
    }

    .joke-row {
        width: fit-content;
        max-width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width:768px) {
    .date-row .date,
    .date-row .week {
        font-size: 0.5em;
    }
    .date-row .time {
        font-size: 1.5em;
    }
    .trainTime {
        font-size: 1.5rem;
    }
}